# Basiert auf influxdb:3-core und influxdb3-explorer

volumes:
  influxdb-data:
    driver: local

services:
  program:
    build: . 
    depends_on:
      broker:
        condition: service_healthy
    volumes:
      - ./xmldata:/home/docker-user/server/DataBridge-config
    environment:
      DBHOST: http://influxdb:8086
      DBTOKEN: admintokenadmintoken
      BUCKET: my-bucket
      ORG: my-org

  influxdb:
   image: influxdb:2
   expose:
     - 8086
   ports:
     - 8086:8086
   volumes:
     - influxdb-data:/var/lib/influxdb2
   environment:
     - DOCKER_INFLUXDB_INIT_MODE=setup
     - DOCKER_INFLUXDB_INIT_USERNAME=admin
     - DOCKER_INFLUXDB_INIT_PASSWORD=Password-super-secure
     - DOCKER_INFLUXDB_INIT_ORG=my-org
     - DOCKER_INFLUXDB_INIT_BUCKET=my-bucket
     - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=admintokenadmintoken
   healthcheck:
     test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
     interval: 30s
     timeout: 100s
     retries: 5

  broker:
    image: emqx/emqx:latest
    container_name: emqx
    ports:
      - "1883:1883"    # MQTT
      - "18083:18083"  # Web-Dashboard
    environment:
      - EMQX_DASHBOARD__DEFAULT_USERNAME=admin
      - EMQX_DASHBOARD__DEFAULT_PASSWORD=public
    healthcheck:
      test: ["CMD", "/opt/emqx/bin/emqx_ctl", "status"]
      interval: 30s
      timeout: 15s
      retries: 3
      start_period: 30s



